body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#background {
    width: 100%; height: 100%; top: 0; left: 0;
    background: url("../upload/Background_image.jpg") no-repeat center top; 
    position: fixed; 
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
padding-bottom: 60px;
}

div#logo{
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    padding-top: 27%;
    font-size: 100%;
}

div#logo > h1{
    color: white;
    font-weight: bold;
    font-size: 18vw;
} 

span#letterY{
    color: black;
} 

.navbar-brand{
    font-weight: bold;
    font-size: 170%;
}

nav{
    height: 90px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#cercaSidenav{
  right: 0;
  left:auto;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #B5596C;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sideMenuButton{
    border-color: black;
    background-color: transparent;
} 

.dropdown-header{
    font-weight: bold;
    font-size: 180%;
}

.dropdown-item:active{
    background-color: white;
    color: black;
}

.icon{
    cursor: pointer;
    padding-left: 10%;
}

.navbar-brand{
    padding-left: 10%;
}

#lenteButton{
    background-color: transparent;
    border-color: transparent;
}

.form-check{
  margin: 5px 0px 0px 16px;
}

.form-check-label{
  color:white;
  font-size: 140%;
}

#submitCercaButton{
  margin: 2rem 2rem 0rem 0;
  font-size: 140%;
}

#main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    color: white;
    font-size: small;
    border-top: solid 1px rgba(255, 255, 255, 0.7);
    height: 60px;
  }

  #main-footer > p{
      margin-bottom: 0px;
      padding-left: 10px;
  }

  #main-footer > a{
    color: white;
    text-align: end;
    text-decoration: underline;
    display: block;
    padding-right: 10px;
}

.banner{
    position: fixed;
    background-color: black;
    bottom: 0;
    padding: 5% 3%;
    width: 100%;
    display: inline-block;
    color: white;
    margin-bottom: 0px;
    border-top: solid 2px white;
    font-size: 200%;
}

.banner > p {
    margin-bottom: 0;
}

.banner > p > button{
    margin-left: 50px;
    font-size: 100%;
}

main > h1.user {
    margin-top: 5%;
    margin-left: 5%;
    font-weight: bold;
    color: white;
}

main > h2.user{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.5rem;
    color: white;
}

article{
    background: rgba(21, 21, 21, 0.8);
    display:inline-block;
    margin: 5% 5% 2%;
    color: white;
    border-radius: 20px;
    overflow: auto;
    width: 90%;
}

article > img.previewImage{
    width: 450px;
    height: 450px !important;
    border-radius: 20px 0px 0px 20px;
    float: left; 
    margin-right: 3%;
}

.article-text{
    padding: 5% 3%;
}

.article-text > h1{
  font-size: 2.5rem;
}

.article-text > p.descrizione{
    font-size: 150%;
    margin-top: 1rem;
}

.article-text > p.categoria{
    color: grey;
    font-style: italic;
    font-size: 120%;
    padding-bottom: 2%;
    margin-bottom: 0px;
}

.article-text > p.luogo{
    font-size: 120%;
    color: #00A9DE;
    font-style: italic;
    margin-top: 2rem;
}

.article-footer{
    padding-top: 20px;
    text-align: right;
}

.alert {
  padding: .55rem 1.25rem;
  font-size: 2rem;
}

main > div#btn-accedi{
    text-align: center;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
}

main > div#btn-accedi > a:hover{
  color:black;
}

main > div > #accedi {
    font-size: 3rem;
    color: white;
}

/*                   */
.form-signin {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    padding-top: 30%;
    margin: auto;
  }

  .form-signin > .text-center{
      margin-bottom: 3.5rem!important;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 3rem;
  }

  .text-center > h1{
      color: white;
      font-size: 7rem;
  }
  
.form-label-group > input,
.form-label-group > label.descrizione {
    height: 6rem;
    padding: .75rem;
    font-size: 2.5rem;
}
  
.form-label-group > label.descrizione{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    font-size: 2rem;
    text-decoration: unset;
  }

  .form-label-group > label{
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .form-signin > div > button{
    font-size: 2.8rem;
  }

  .text-center > img{
    width: 400px;
}

  .form-label-group input::-webkit-input-placeholder,
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label.descrizione{
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 20px;
    color: #777;
  }

.form-label-group > #sessoSelezionato{
    font-size: 2rem;
    padding: .75rem;
}

.form-label-group > #sessoSelezionato > option{
    font-size: 1rem;
}
 
.form-label-group > small {
    font-size: 1.6rem;
    color: whitesmoke!important;
}

.form-signin > p, .form-signin > p > a {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
}

#logoutOrganized,#viewNotify{
  color:white;
  font-size: 100%;
  text-align:left;
}
#logoutOrganized:hover,#viewNotify:hover{
  text-decoration: underline;  
}

.createNewEventsDiv{
  margin-top: 3.5rem;
  text-align: center;

}
#createNewEvents{
  font-size: 1.8rem;
}

.admin{
  margin-left: 5%;
  color: white;
}

main > h1.admin {
  margin-top: 5%;
  font-weight: bold;
  text-align: center;
  font-size: 4.5rem;
}

main > h2.admin{
  font-size: 3.5rem;
  margin-top: 5%;
  text-decoration: underline;
}

h3.admin{
  margin-top: 1rem;
}

h3.admin, p.admin{
  font-size: 2.5rem;
}

form.admin > div > div > input, form.admin > div > div > button{
  font-size: 2.5rem;
}

.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
  max-width: 90%;
  margin: 1rem 5% 0 5%;
}

.table-wrapper-scroll-y {
  display: block;
}

.table-striped{
  font-size: 1.5rem;
}

td.gestisci > a{
  color: white;
}

#nomeEvento{
  color: white;
}

.col-auto > label.descrizione{
  font-size: 1.5rem;
}

.col-auto > button{
  margin-top: 2.8rem;
}

form.modify-validation{
  padding-top:10%;
}
#modifyEvents>.form-label-group>label{
  font-size: 200%;
  display: block; /* Impostiamo la label come elemento blocco */
  line-height: 30px; /* Altezza di riga */
  width: 100%;
}
#modifyEvents>.form-label-group>input{
  font-size: 200%;
  box-sizing: 100%;
  height: 60px;
  width: 100%;
}
#modifyEvents>.form-label-group>textarea{
  font-size: 200%;
  width: 100%;
  height: 400%;
}
#modifyEvents>.form-label-group>img{
  width: 100%;
  height: auto;
  margin-top: 5%;
}
#modifyEvents>div>button{
  font-size: 200%;
}

div.containerImageComplete{
  width: 100%;
  height: 400px;
  display:flex; 
  flex-direction:column;
}

.article-text > p.categoriaTotale{
  font-size: 200%;
}

.article-text > p.descrizioneTotale{
  font-size: 250%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.article-text > .titoloTotale{
  font-size: 500%;
}

.article-text > .dettagliTotali{
  font-size: 200%;
  margin-top: 5%;
}

.article-text > .text-danger{
  margin-top: 0px;
}

footer.article-footer > .aggiungi{
  font-size: 150%;
}

form > div > a#annulla{
  margin-left: 20px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 992px) {
    /* For desktop: */
    div#logo{
        text-align: center;
        width: 100%;
        margin-bottom: 2%;
        padding-top: 10%;
    }
    
    div#logo > h1{
        font-size: 18vw;
    } 

    .form-signin {
        width: 100%;
        max-width: 460px;
        padding: 15px;
        margin: auto;
      }
    
      .alert {
        font-size: 1rem;
      }
      
      .form-label-group {
        position: relative;
        margin-bottom: 1rem;
      }
    
      .text-center > h1{
          color: white;
          font-size: 3rem;
      }
      
      .form-label-group > input,
      .form-label-group > label.descrizione{
        height: 4rem;
        padding: .75rem;
      }
      
      .form-label-group > label.descrizione{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        pointer-events: none;
        cursor: text; /* Match the input under the label */
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
        font-size: large;
        text-decoration: unset;
      }

      .form-label-group > label{
        font-size: 1rem;
      }

      .text-center > img{
        width: 200px;
      }

    .form-label-group > input, .form-label-group > #sessoSelezionato{
        font-size: 25px;
    }
    
    .form-label-group > #sessoSelezionato > option{
        font-size: 1.2rem;
    }

      .form-label-group input:not(:placeholder-shown) ~ label.descrizione{
        font-size: 15px;
      }
      
    .form-label-group > small {
        font-size: small;
        color: whitesmoke!important;
    }

    .form-check-label{
      font-size: 120%;
    }

    .form-signin > p, .form-signin > p > a {
      font-size: 1rem;
    }

    .dropdown-header{
      font-size: 180%;
  }

  .article-text > p.descrizione {
    font-size: large;
  }

  .article-text > p.categoria{
    font-size: medium;
  }

  .article-text > p.luogo{
    font-size: medium;
  }

  .banner{
    padding: 10px 10px;
    border-top: solid 1px white;
    font-size: 1rem;
  }


  .banner > p > button{
      margin-left: 20px;
  }

  form.modify-validation {
    padding-top: 5%;
  }

  #modifyEvents.form-signin {
    max-width: 660px;
  }

  #modifyEvents.form-signin > div > label,
  #modifyEvents.form-signin > div#azione{
    margin-top: 2.5rem;
  }
}